body{
    margin: 0;
}


#machine{
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellowgreen;
    border-radius: 15px;
    max-width: 500px;
}



#display{ width: 100%;
    padding: 20px;

font-size: 5rem;
text-align: left;
background-color: beige;
color: black;
    border-radius: 10px;


}


#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px; 
}

button{ width:100px;
    height: 100px;
    border-radius: 50px;
    background-color: blue;
color: blueviolet;
font-size: 3rem;
font-weight: bold;

}